{% extends 'base.html.twig' %}

{% block body %}
    <div class=" vertical-center"> <!--
                      ^--- Added class  -->
        <div class="container" style="font-size: 200%;">
            <h1 class="mt-4">Hello</h1>
            <p>This is client for your social media photos.</p>
            <p>Just import your photos by clicking on your left side</p>
        </div>
    </div>

{% endblock %}
